.map-container {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 64px;
}

.leaflet-container {
  background: #000;
}

.btn--back {
  position: absolute;
  left: 10px;
  bottom: 10px;
  z-index: 1000;
}